/* Impostazioni generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney,Helvetica-Neue,Helvetica,Arial,sans-serif;
}
/* Inizializzazione Colori */
:root {
    --dark: #23272A;
    --blue: #255EE9;
    --light: #F6F6F6;
    --violet: #748ADB;
}
/* debug */
.debug {
    border: 1px solid black;
}
/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.container-small {
    max-width: 800px;
    margin: 0 auto;
}
/* Colori sfondo */
.bkg-light {
    background-color: var(--light);
}
.bkg-blue {
    background-color: var(--blue);
}
.bkg-dark {
    background-color: var(--dark);
}
/* Colori testo */
.txt-white{
    color: white;
}
/* bordo footer */
.border-btm {
    border-bottom: 1px solid #F6F6F6;
}

/* Impostazioni flex */
.d-flex {
    display: flex;
}